admin/node_modules
admin/public/build
admin/public/hot
admin/public/storage
admin/storage/*.key
admin/vendor
admin/.env
admin/.env.backup
admin/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

admin/storage/dbdata